<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosh sahifa</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <nav class="container mt-3"><a href="/">Home</a> | <a href="/contact">Contact</a></nav>
    <div style="width:35rem" class="container mt-5 text-center">
        <% if(messages.success) { %>
            <div class="alert alert-success"><%= messages.success %></div>
        <% } %>
    </div>

    <hr>
    <h1 class="text-center">Bosh sahifa</h1>
</body>
</html>